@import url("deck.js/themes/style/neon.css");

.deck-container, .deck-container .slide blockquote cite {
	color: #ddd;
}

em {
	color: #eee;
}

.deck-container .slide pre {
	padding: 0.5em;
	border: none;
	border-left: 0.2em solid #f0a;
}
